# .env.example

# User and Group ID given to your previously configured docker user
PUID = 1000
PGID = 1000

# Your local timezone (eg. 'America/Ney_York')
TZ = <your_timezone>

# Default user directory
USERDIR = /