# .env.example

# User and Group ID given to your previously configured docker user
USER_UID=1000
USER_GID=1000

# MySQL root password (used for database admin)
MYSQL_ROOT_PASSWORD=yourRootPasswordHere

# Gitea DB user
MYSQL_USER=gitea

# Gitea DB password (user-level)
MYSQL_PASSWORD=yourUserPasswordHere

# Gitea DB name
MYSQL_DATABASE=gitea